./server/node_modules
./server/dist
./server/.env
./server/.env.local
./server/.env.development
./server/.env.production
./server/.env.test  

./mobile/node_modules

./mobile/.expo

./server/node_modules

./node_modules
./mobile/node_modules

./dev-app/.android
./dev-app/.expo